/*.article_list li {
    padding: 15px 0;
}

body{
   background-color: purple !import;
}

.nav_link li {
    display: inline-block;
    margin-left: 15px;
}

.nav_link .logo img{
    width: 120px;
}

form button, form input[type=submit], .btn{
    padding: 7px 30px;
    font-family: Arial;
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    background-color: darkslateblue;
}

form button:hover, form input[type=submit]:hover, .btn:hover{
    background-color: darkblue;
    transition: 0.5s;
}

.search {
    padding: 10px 5px;
    width: 250px;
    border: 0;
    font-size: 16px;
    border-radius: 15px;
}
.search:focus {
    padding-left: 10px;
    transition: 0.3s;

}
/.search-form {
    margin: auto;
    box-sizing: border-box;
    display: block;
    text-align: center;
}/

form.login div {
    margin-top: 10px;
}

.profile {
    float: right;
    margin-top: 20px;
}
.form-control {
    margin-top: 10px;
}*/

.tags{
    height: 200px;
}
.form-check {
    padding-left: 0;
}